.background{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/20876cab-b49d-4957-bbaf-906ceb1c05f1/fdd1a263-01c3-4d03-9319-25351d2402c2/IN-en-20220117-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120% 120%;
    height: 100%;
    filter: brightness(40%);
}
.all
{
    background-color: black;
}
.foreground{
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    width: 49%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.readytowatch{
    font-size: 16px;
}
.email{
    background-color: white;
    width: 450px;
    height: 50px;
    color: black;
    font-size: 25px;
    position: relative;
    margin-right: 50%;
 
    
}
.getstartedbutton{
    background-color: red;
    color: white;
    height: 50px;
    width: 300px;
    font-size: 25px;
    position: absolute;
    margin-left: 140px;
    margin-top: -50px;
}
.email1{
    background-color: white;
    width: 450px;
    height: 50px;
    color: black;
    font-size: 25px;
    position: relative;
    margin-right: 50%;
 
    
}
.getstartedbutton1{
    background-color: red;
    color: white;
    height: 50px;
    width: 200px;
    font-size: 25px;
    position: absolute;
    margin-left: 400px;
    margin-top: -50px;
}
.logo{
    top: 8%;
    left: 8%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}
.blackscreen{
    background-color: black;
    height: 35%;
    filter: brightness(40%);
    background-position: center;
    background-repeat: no-repeat;
    
}

.signinbutton{
    background-color: red;
    color: white;
    height: 35px;
    width: 90px;
    font-size: 15;
    position: absolute;
    top: 8%;
    right: 1%;
    text-align: center;
    transform: translate(-50%, -50%);

}
.dropdown{
    color: white;
    height: 30px;
      width: 90px;
    font-size: 20;
    position: absolute;
    top: 8%;
    right: 8%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.border
{
    background-color: gray;
    height: 10px;
    position:relative;
    margin-top: -200px;
    
}
.text
{
    color: white;
    position: relative;
    margin-left:90px;
    margin-top: 70px;
    font-family:sans-serif;
}
.text1
{
    color: white;
    position: relative;
    margin-left:700px;
    margin-top: -250px; 
    font-family:sans-serif;
}
.text2
{
    color: white;
    position: relative;
    margin-left:90px;
    margin-top: 70px;
    font-family:sans-serif;
}
.text3
{
    color: white;
    position: relative;
    margin-left:700px;
    margin-top: -200px; 
    font-family:sans-serif;
}
.text4
{
    color: white;
    position: relative;
    margin-left:350px;
    margin-top: 70px; 
    font-family:sans-serif;
}
.text5
{
    color: white;
    position: relative;
    margin-left:10px;
    margin-top: 70px; 
    font-family:sans-serif;
}
.text6
{
    color: white;
    position: relative;
    margin-left:200px;
    margin-top: 70px; 
    font-family:sans-serif;
}
.text7
{
    color: white;
    position: relative;
    margin-left:200px;
    margin-top: 0px; 
    font-family:sans-serif;
}
.text8
{
    color: white;
    position: relative;
    margin-left:400px;
    margin-top: -130px; 
    font-family:sans-serif;
}
.text9
{
    color: white;
    position: relative;
    margin-left:600px;
    margin-top: -130px; 
    font-family:sans-serif;
}
.text10
{
    color: white;
    position: relative;
    margin-left:800px;
    margin-top: -130px; 
    font-family:sans-serif;
}
.text11
{
    color: white;
    position: relative;
    margin-left:200px;
    margin-top: 100px; 
    
}
.row1
{
    height: 300px;
}
.row2
{
    height: 300px;
}
.row3
{
    height: 300px;
}
.row4
{
    height: 300px;
}
.row5
{
    height: 700px;
}
.row6
{
    height: 400px;
}
.video
{
    position: relative;
    margin-left:800px;
    margin-top: -150px;   
}
.video1
{
    position: relative;
    margin-left:800px;
    margin-top: -150px;   
}


.border1
{
    background-color: gray;
    height: 10px;
    position:relative;
    margin-top: 00px;
    
}
.img1{
    position: relative;
    margin-left:100px;
    margin-top: 50px;
}
.img2{
    position: relative;
    margin-left:100px;
    margin-top: 50px;
}
.faq
{
    background-color: gray;
    height: 50px;
    width: 700px;
}